<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<title>main - dashboard</title>
<link href="https://fonts.googleapis.com/css2?family=Lobster&family=Ms+Madi&family=Poppins&family=Roboto:ital@0;1&display=swap" rel="stylesheet" /><style>
  * {
    font-family: "Roboto", sans-serif;
  }
  .menu {
    position: relative;
    display: flex;
    word-wrap: wrap;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 3em;
    margin-bottom: 6em;
  }
  .bungkus {
    position: relative;
    justify-content: space-around;
    padding: 2em;
    max-width: 500px;
    word-wrap: wrap;
    flex-wrap: wrap;
    border: 1px solid black;
    box-shadow: 1px 2px 6px black;
  }
  .sambutan p {
    display: flex;
    margin: 0 auto;
    text-align: center;
    margin-top: 4em;
    padding: 0.8em;
    font-size: 20px;
    font-weight: bolder;
    border: 1px solid black;
    width: 300px;
    justify-content: center;
  }
  .bungkus h1 {
    text-align: center;
  }
  .bungkus a {
    text-decoration: none;
    color: white;
  }
  .bungkus a .button {
    width: 200px;
    padding: 0.8em;
    position: relative;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    justify-content: center;
    background: transparent;
    margin: 0 auto;
    z-index: 1;
  }
  @keyframes clicked {
    0% {
      width: 10px;
    }
    25% {
      width: 50px;
    }
    50% {
      width: 75px;
    }
    75% {
      width: 125px;
    }
    100% {
      width: 200px;
    }
  }
  .bungkus a .button:before {
    content: "";
    z-index: -1;
    width: 200px;
    position: absolute;
    padding: 0.8em;
    margin-left: 100em;
    left: 0;
    height: 20px;
    top: 0;
    text-align: center;
    border: 1px solid black;
    border-radius: 15px;
    background: red;
    justify-content: center;
    animation-name: clicked;
    animation-duration: 2s;
    margin: 0 auto;
  }
  .bungkus a.button:before:hover {
    background: blue;
  }
</style>
<div class="sambutan">
  <p>Simple Project</p>
</div>
<div class="menu">
  <div class="bungkus">
    <h1>Chat GPT</h1>
    <p>{% lorem '2' %}</p>
    <a href="{% url 'index' %}">
      <div class="button">Lihat selengkapnya</div>
    </a>
  </div>
  <div class="bungkus">
    <h1>Jan ken po !</h1>
    <p>{% lorem '2' %}</p>
    <a href="{% url 'stone' %}">
      <div class="button">Lihat selengkapnya</div>
    </a>
  </div>
  <div class="sambutan">
    <p>Developed by brsaputra14</p>
  </div>
</div>
<script>
  document.onkeydown = function (e) {
    if (event.keyCode == 123) {
      return false;
    }
    if (e.ctrlKey && e.shiftKey && e.keyCode == "I".charCodeAt(0)) {
      return false;
    }
    if (e.ctrlKey && e.shiftKey && e.keyCode == "C".charCodeAt(0)) {
      return false;
    }
    if (e.ctrlKey && e.shiftKey && e.keyCode == "J".charCodeAt(0)) {
      return false;
    }
    if (e.ctrlKey && e.keyCode == "U".charCodeAt(0)) {
      return false;
    }
  };
</script>
<script>
  document.addEventListener(
    "contextmenu",
    function (e) {
      e.preventDefault();
    },
    false
  );
  $(document).bind("contextmenu", function (e) {
    e.preventDefault();
  });
</script>
